<!--
 body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: sans;
  margin: 50px;
 }
.normal_chapter{
margin: 20px;
}
div.version_history{
    font-family:Bookman Old Style, Century, Times New Roman; color:yellow; font-size:10pt; text-align: center;
}
.normal_chapter A:active {color:white;text-decoration:none}
.normal_chapter A:link {color:#0099ff;text-decoration:none}
.normal_chapter A:visited {color:#900090;text-decoration:none}
.normal_chapter A:hover {color:white;text-decoration:underline}

.command_example{
font-family:Bookman Old Style, Century, Times New Roman; color:#FF6633; font-size:10pt; Vertical-Align:text-top;
}
.other_projects{
font-family:Bookman Old Style, Century, Times New Roman; color:#FF6633; font-size:12pt; Vertical-Align:text-top;
}


.header{
font-variant:small-caps; color:white; font-weight:bold; border-top:1px solid white; border-right:1px solid black; border-bottom:2px solid white; border-left:1px solid black;
}
.header2{
font-variant:small-caps; color:white; font-weight:bold;
}
.header3{
font-variant:small-caps; color:white; font-weight:bold;
}
p.footer{ background:#999999; font-family:courier; color:white; border-top:1px solid white; border-right:1px solid black; border-bottom:2px solid white; border-left:1px solid black; text-align: center; 
}
.indeksi{ 
background:#000066; border-top:4px solid #f0f0f0; border-left:4px solid green; border-right:4px solid green; border-bottom:4px solid green; font-family:Bookman Old Style, Century, Times New Roman; color:#FF6633; font-size:10pt; Vertical-Align:text-top;
}

.indeksi A:active {color:black;text-decoration:none}
.indeksi A:link {color:#0099ff;text-decoration:none}
.indeksi A:visited {color:#900090;text-decoration:none}
.indeksi A:hover {color:black;text-decoration:underline}
.indeksi_ylaosa{
background:#ffffff; border-bottom:4px solid #f0f0f0; border-left:4px solid green; border-right:4px solid green; border-top:4px solid green; font-family:Bookman Old Style, Century, Times New Roman; color:red; font-size:10pt;
}
.justify { text-align: justify; }
.guestb { border:4px solid #777; font-family:arial; color:#ffffff; }
.activator{ border:1px solid #ddd; }
.noframe{ background:#ffffff; border-bottom:4px solid #f0f0f0; border-left:4px solid green; border-right:4px solid green; border-top:4px solid #f0f0f0; font-family:Bookman Old Style, Century, Times New Roman; color:red; font-size:10pt; }
.noframe A:active {color:black;text-decoration:none}
.noframe A:link {color:teal;text-decoration:none}
.noframe A:visited {color:#900090;text-decoration:none}
.noframe A:hover {color:black;text-decoration:underline}
.indeksi_ylaosa A:active {color:black;text-decoration:none}
.indeksi_ylaosa A:link {color:teal;text-decoration:none}
.indeksi_ylaosa A:visited {color:#900090;text-decoration:none}
.indeksi_ylaosa A:hover {color:black;text-decoration:underline}
.htmltags{ text-align:left; font-size:130% }
.htmlcell{ color:silver; border:1px solid silver; }

--!>
