<!--
 body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: sans;
  margin: 50px;
 }

A:active {color:white;text-decoration:none}
A:link {color:#0099ff;text-decoration:none}
A:visited {color:#900090;text-decoration:none}
A:hover {color:white;text-decoration:underline}

/* This is what most chapters are */
/* This could perhaps be the body defaults? */
.normal_chapter{
margin: 20px;
}
div.version_history{
    font-family:Bookman Old Style, Century, Times New Roman; color:yellow; font-size:10pt; text-align: center;
}

/* menu on top */
table.navbar{
text-align: center; font-variant:small-caps; font-size:20pt; color:white; font-weight:bold; border-top:1px solid white; border-right:1px solid black; border-bottom:2px solid white; border-left:1px solid black; width:100%;
}
.navbar a:active {color:white;text-decoration:none}
.navbar a:link {color:white;text-decoration:none}
.navbar a:visited {color:white;text-decoration:none}
.navbar a:hover {color:blue;text-decoration:none}
/* top menu cell spacing in basic layout */
.nav_cell{
    padding-bottom:80px;
}

.tarball_list{
margin: 20px;
}

.command_example{
margin: 30px;
font-family:Bookman Old Style, Century, Times New Roman; color:#FF6633; font-size:10pt; Vertical-Align:text-top;
}
.other_projects{
font-family:Bookman Old Style, Century, Times New Roman; color:#FF6633; font-size:12pt; Vertical-Align:text-top;
}


h1{
font-variant:small-caps; color:white; font-weight:bold; text-align: center;
}
.header2{
font-variant:small-caps; color:white; font-weight:bold;
}
.header3{
font-variant:small-caps; color:white; font-weight:bold;
}
p.footer{ background:#999999; font-family:courier; color:white; border-top:1px solid white; border-right:1px solid black; border-bottom:2px solid white; border-left:1px solid black; text-align: center; 
}

--!>
